body{
    background: url(../img/fondo.jpg) center fixed no-repeat;
    width: 100%;
    overflow-x: hidden;
}
html,body{
    height: 100%;
	margin:0px;
}
.header{
    font-family: 'Luckiest Guy', cursive;
    height: 300px;
    min-height: 300px;
    background-image: url("../img/Fortnite.jpg");
    background-size:auto;
    width: expression(document.body.clientWidth < 1301? "1300px": "auto" );
        min-width:1300px;
}
#logo{
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}
.header p a{
    position:static;
    text-decoration: none;
    color:black;
}
.header p{
    position: static;
    margin-right: 20px;
    float:right;
}
.header p a:hover{
    color:orange;
}
.header ul li{
    display:inline-block;
    float: right;
}
.header ul li a{
    position:relative;
    bottom: 0px;
    padding-right: 20px;
    text-decoration: none;
    color:black;
}
.header ul li a:hover{
    color:orange;
}
.menu{
    height: 50px;
    width: auto;
}
/*--------------*/
.titulo{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25%;
    margin-right: 90%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 140%;
}
.list{
    list-style: none;
}
.welcome{
    font-family: 'Roboto', sans-serif;
    float:right;
    margin-right: 2%;
}
.welcome a{
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    color:black;
}
.welcome a:hover{
    color:orange;
}
#noticias{
    color:seagreen;
    font-size: 90px;
}
hr{
    margin-left: 20%;
    margin-right: 20%;
    color: mediumpurple;
    border: solid 1px;
}
.noticia1{
    width: 100%;
    box-sizing: border-box;
}
iframe{
    width: 50%;
    height: 469px;
    margin-left: 25%;
}
.noticia2{
    width: 100%;
}
#llama{
    margin-left: 25%;
    width: 50%;
}
.contenido h1{
    text-align:center;
    font-family: 'Luckiest Guy', cursive;
}
.parche{
    width:50%;
    margin-left: 25%;
    
}
.parche a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}
.parche a:hover{
    color:orange;
}
.imagenp{
    width: 50%;
}
.textop{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}
.imagenp img{
    width: 100%;
}
#vmas{
    margin-left: 25%;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    color:black;
}
#vmas:hover{
    color:orange;
}
#vermas{
    display:none;
}
#vmenos{
    display:none;
    margin-left: 25%;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    color:black;
}
#vmenos:hover{
    color:orange;
}
#youtube{
    width: 100px;
}
#instagram{
    width: 50px;
    margin-left: 25%;
}
/*--------------*/
.footer{
    bottom:0px;
    background-image: url(../img/footer.png);
    background-size: cover;
    height: 30%;
    width: expression(document.body.clientWidth < 1301? "1300px": "auto" );
        min-width:1300px;
}
.footer ul li{
    display: inline-block;
    float:left;
    margin-top: 50px;
    margin-right: 70px;
}
.footer ul li a{
    font-family: 'Luckiest Guy', cursive;
    text-decoration: none;
    color:black;
}
.footer ul li a:hover{
    color:orange;
}
/*-------------*/
@media screen and (max-width:1600px){
    body{
        overflow-x: auto;
    }
}
@media screen and (max-width:800px){
    iframe{
        height: 200px;
    }
}
@media screen and (max-width:400px){
    iframe{
        height: 100px;
    }
    .imagenp{
        display:none;
    }
}